# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs\
x64/Release/win32-gui-base.pdb
win32-gui-base/x64/Release/win32-gui-base.vcxproj.FileListAbsolute.txt
win32-gui-base/x64/Release/win32-gui-base.tlog/win32-gui-base.lastbuildstate
win32-gui-base/x64/Release/win32-gui-base.tlog/link.write.1.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/link.secondary.1.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/link.read.1.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/link.command.1.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/CL.write.1.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/CL.read.1.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/Cl.items.tlog
win32-gui-base/x64/Release/win32-gui-base.tlog/CL.command.1.tlog
win32-gui-base/x64/Release/win32-gui-base.log
win32-gui-base/x64/Release/win32-gui-base.ipdb
win32-gui-base/x64/Release/win32-gui-base.iobj
win32-gui-base/x64/Release/win32-gui-base.exe.recipe
win32-gui-base/x64/Release/win32-gui-base.Build.CppClean.log
win32-gui-base/x64/Release/vc143.pdb
win32-gui-base/x64/Debug/win32-gui-base.vcxproj.FileListAbsolute.txt
win32-gui-base/x64/Debug/win32-gui-base.tlog/win32-gui-base.lastbuildstate
win32-gui-base/x64/Debug/win32-gui-base.tlog/unsuccessfulbuild
win32-gui-base/x64/Debug/win32-gui-base.tlog/CL.command.1.tlog
win32-gui-base/x64/Debug/win32-gui-base.log
win32-gui-base/x64/Debug/win32-gui-base.exe.recipe
win32-gui-base/x64/Debug/win32-gui-base.Build.CppClean.log
win32-gui-base/win32-gui-base.vcxproj.user
win32-gui-base/win32-gui-base.vcxproj.filters
win32-gui-base/win32-gui-base.vcxproj
win32-gui-base/win32-gui-base.rc
win32-gui-base/win32-gui-base.aps
.vs/win32-gui-base/v17/ipch/ca6f337cbec8ccc2.ipch
.vs/win32-gui-base/v17/ipch/b6be243ab1a5ca5e.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/f4710392a14b690a/DRAWING.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/e621d1c0f9d71918/DRAWING.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/e52d4afa81a0d618/UI.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/e4f283db71858d65/MAIN.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/c5c7bb42eef9ba2/UI.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/7311d43adff88307/MAIN.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/6e220db94db36e19/UI.ipch
.vs/win32-gui-base/v17/ipch/AutoPCH/4e3bb5fa1cee456f/DRAWING.ipch
.vs/win32-gui-base/v17/ipch/99ccc73153bfc316.ipch
.vs/win32-gui-base/v17/ipch/7e937bf4906687eb.ipch
.vs/win32-gui-base/v17/ipch/161805dae6a1f46f.ipch
.vs/win32-gui-base/v17/Browse.VC.opendb
.vs/win32-gui-base/v17/DocumentLayout.json
.vs/win32-gui-base/v17/Browse.VC.db-wal
.vs/win32-gui-base/v17/Browse.VC.db-shm
.vs/win32-gui-base/v17/Browse.VC.db
.vs/win32-gui-base/v17/.suo
.vs/win32-gui-base/FileContentIndex/d7260df3-5437-4ca6-8915-1ff85ba83985.vsidx
.vs/win32-gui-base/FileContentIndex/b8fe184b-eac8-45c4-8a7e-4ab618fbd56e.vsidx
.vs/win32-gui-base/FileContentIndex/520a6119-b2c3-4d3c-8189-334eca710c76.vsidx
.vs/win32-gui-base/FileContentIndex/34c86dfa-93fa-4556-b638-2b79e43416e3.vsidx
.vs/win32-gui-base/FileContentIndex/0b60c50c-d4f6-4665-b6a8-afae2fd2e71b.vsidx
